@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

$mainBackground: #F5F5F1;

$linkTextColor: #0192B5; // text along side, links althroughout
$buttonColor: #37A9C5; // for search and subscribe buttons
$browseButtonBorder: #E5E5E5; // browse button at top, currency buttons at base, refine boxes @ left side
$hoverBorder: #B5B5B5;
$circleFill: #34A8C4; // for checkbox fills
$logo: #F45800; // top left logo
$labelFontColor: #555555;
$hoverFillGrn: #4AB0C9;
$headerBase: #DBDBD7;
$sideBoxBorders: #E1E3DF;
$searchButtonBorder: #398A9D;
$moneyGreen: #78C042;
$userNameGrey: #B2B2B2;
$itemNameGrey: #575757;

$filterRed: #F40B32;
$filterOj: #FF7F00;
$filterYellow: #F3CC0C;
$filterGrn: #0AC20A;
$filterBlue: #0CCCF3;
$filterPurp: #A60CF3;
$filterBlk: #000000;
$filterWht: #FFFFFF;
$filterIconBorder: #E2E2E2;

@mixin categoryBox() {
  background-color: transparent;
  margin-left: 13px;
  margin-right: 13px;
  width: 218px;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

* {
  // width: 1280px;
  width: 100%;
  background-color: $mainBackground;
  font-family: Arial, sans-serif;
}

header {
  clear: both;
  width: 100%;
  height: 80px;
  display: block;
  background-color: $filterWht;
  // overflow: hidden;
  border-bottom: 0 solid $headerBase;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;

  .top-wrapper {
    width: 100%;
    height: 80px;
    background-color: $filterWht;
    display: inline-block;
  }

  .logo {
    display: inline-block;
    float: left;
    width: 95px;
    height: 80px;
    background-color: $filterWht;
    margin-left: 140px;
    margin-right: 11px;
  }

  form {
    display: inline-block;
    height: 36px;
    width: 25.8%;
    float: left;
    margin-top: 23px;
    border-radius: 3px;
    border: solid 1px $searchButtonBorder;
    background-color: $filterWht;
  }

    input {
      display: inline-block;
      width: 241px;
      margin-right: 0;
      height: 34.33px;
      border: none;
      background-color: $filterWht;
    }

    input:hover {
      border: solid 1px $browseButtonBorder;
    }

    input:focus{
      outline: none;
      border: solid 1px $circleFill;
    }

    .srchBtn {
      display: inline-block;
      width: 25.01%;
      height: 35px;
      margin-left: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
      background-color: $buttonColor;
      color: $filterWht;
      padding-right: 1px;
      border: solid 1px $searchButtonBorder;

    }
    .srchBtn:hover{
      background-color: $hoverFillGrn;
    }
    .srchBtn:focus{
      outline: none;
    }

  .brsBtnWrapper{
    background-color: $filterWht;
    margin-left: 5px;
    margin-top: 1px;
    width: 70px;
    height: auto;
    display: block;
    float: left;

  }

  .brsBtn {
    border-radius: 3px;
    border: solid 1px $browseButtonBorder;
    width: 80px;
    height: 35px;
    line-height: 1em;
    background-color: $filterWht;
    color: $sideBoxBorders;
    text-decoration: none;
    padding: 0.7em;
    margin-top: 23px;
    margin-left: 14px;
    float: left;
    font-size: 14px;
  }

    .brsBtn:hover {
      border: solid 1px $hoverBorder;
    }

  .brsBtn:after{
    content: '▾';
    color: #bbb;
    font-size: 14px;
    line-height: 1.2em;
    position: relative;
    left: 52px;
    bottom: 16px;
  }

  .head-nav {
    clear: right;
    width: 28%;
    float: right;
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $filterWht;

    .register-link {
      width: 71px;
      float: left;
      margin-top: 30px;

      .register-btn{
        text-decoration: none;
        display: inline-block;
        color: $linkTextColor;
        background-color: $filterWht;
      }

      .register-btn:hover{
        text-decoration: underline;
      }
    }

    .sign-in-link{
      border: solid 1px $linkTextColor;
      border-radius: 3px;
      display: inline-block;
      width: 62px;
      padding: 5px;
      background-color: $filterWht;
      margin-left: 12px;
      margin-top: 25px;
      margin-right: 12px;
      float: left;

      a{
        text-decoration: none;
        color: $linkTextColor;
      }
    }
    .sign-in-link:hover{
      background-color: #EFFAFC;
    }

    .cart-link {
      display: inline-block;
      width: 49px;
      background-color: $filterWht;
      border-left: solid 1px $browseButtonBorder;
      padding-left: 12px;
      float: left;
      margin-top: 18px;

      .cart-btn {
        color: $filterBlk;
        text-decoration: none;
        opacity: 0.7;

        img {
          width:24px;
          height:24px;
          background-color: $filterWht;
        }
      }
      .cart-btn:hover{
        opacity: 1;
      }
    }
  }
}

.wrapper {
  clear: both;
  @include outer-container();

  aside {
    float: left;
    clear: both;
    @include span-columns(3);
    height: 100%;
    display: block;

    .asideLabel {
      background-color: $mainBackground;
      padding-bottom: 9px;
      padding-top: 0;
      margin: 0;
    }

    .searchCat{
      color: $filterBlk;
      background-color: transparent;
      margin-top: 15px;
      margin-left: 1px;
      margin-bottom: 8px;
      font-size: 0.83em;
    }

    .link-all {
      color: $filterBlk;
      background-color: transparent;
      margin-left: 13px;
      margin-top: 10px;
      margin-right: 13px;
      margin-bottom: 5px;
      font-size: 1em;
    }

    .link-all:hover {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
      font-size: smaller;
      color: $linkTextColor;
      background-color: transparent;
    }

    a:hover {
      text-decoration: underline;
    }

    .topLink {
      margin-left: 25px;
      font-size: 13;
      line-height: 1.75em;
    }
  }
  .topAside {
    width: 245px;
    height: 400px;
    background-color: $filterWht;
    border: 1px solid $sideBoxBorders;
    border-radius: 3px;
  }
  .btmAside {
    width: 245px;
    height: 650px;
    background-color: $filterWht;
    border: 1px solid $sideBoxBorders;
    border-radius: 3px;

    .block1 {
      @include categoryBox();
      width: 218px;
      border-bottom: solid 1px $browseButtonBorder;
    }

    .linkWrap {
      width: 219px;
      height: 25px;
      display: block;
      background-color: transparent;
      margin-bottom: -17px;

      input {
        width: 18px;
      }

      a {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
    .block2 {
      @include categoryBox();
      border-bottom: solid 1px $browseButtonBorder;

      .searchPrice{
        background: transparent;
      }
      .priceField {
        background: $filterWht;
        border: solid 1px $sideBoxBorders;
        width: 75px;
        height: 40px;
        border-radius: 3px;
        padding-left: 22px;
      }

      .priceField:hover {
        border: solid 1px $hoverBorder;
        background: transparent;
      }


      span {
        background: transparent;
      }

      .price-search {
        color: $filterBlk;
        text-align: middle;
        width: 40px;
        height: 40px;
        border: solid 1px $sideBoxBorders;
        border-radius: 3px;
        background: transparent;
        background: $filterWht;
      }

      .price-search:hover {
        border: solid 1px $hoverBorder;
      }
    }

    .block3 {
      @include categoryBox();
      border-bottom: solid 1px $browseButtonBorder;

      .palette{
        width: 218px;
        height: 27px;
        display: inline-block;
        background-color: transparent;
        margin-left: 5px;
      }

      .colorFilter {
        width: 22px;
        height: 22px;
        border-radius: 3px;
        border: solid 1px $sideBoxBorders;
        margin: 0px 3px 0px 0px;
        box-sizing: border-box;
        float: left;
      }

      .red {
        background-color: $filterRed;
      }

      .orange {
        background-color: $filterOj;
      }

      .yellow {
        background-color: $filterYellow;
      }

      .green {
        background-color: $filterGrn;
      }

      .blue {
        background-color: $filterBlue;
      }

      .purple {
        background-color: $filterPurp;
      }

      .black {
        background-color: $filterBlk;
      }

      .white {
        background-color: $filterWht;
      }
    }

    .block4 {
      @include categoryBox();
      clear: both;
      border-bottom: solid 1px $browseButtonBorder;
      height: 85px;

      .optionWrap{
        width: 219px;
        height: 25px;
        display: block;
        background-color: transparent;

        .checkbox-link{
          width: 16px;
          height: 16px;
          line-height: 1em;
          float: left;
          display: inline-block;
          margin-top: 2px;
        }

        a {
          vertical-align: middle;
          height: 25px;
          line-height: 1px;
          margin-left: 2px;
        }
      }
      .customizeBox{
        margin-top: -17px;
      }
    }

    .block5 {
      @include categoryBox();
      clear: both;
      height: 105px;
      border-bottom: solid 1px $browseButtonBorder;
    }

    .locWrap {
      width: 219px;
      height: 25px;
      display: block;
      background-color: transparent;

      input {
        width: 18px;
        margin-right: 5px;
      }

      a {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .locLink {
      line-height: 2.4em;
      size: 13px;
      font-family: Arial, sans-serif;
    }

    .block6 {
      @include categoryBox();
      height: 62px;
      padding-bottom: 4px;

      .selectMenu {
        height: 38px;
        border: solid 1px $sideBoxBorders;
        border-radius: 3px;
        -webkit-appearance: none;
        background-color: transparent;
        color: $labelFontColor;
        font-size: 13px;
        padding-left: 15px;
      }

      .selectMenu::after{
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        white-space: nowrap;
        vertical-align: middle;
        color: $sideBoxBorders;
        content: '▾';
        font-size: 8px;
        line-height: 8px;
        pointer-events: none;
        right: 10px;
        top: 16px;
        position: absolute;
      }

      .selectMenu:hover {
        border: solid 1px $hoverBorder;
      }
    }

  .sectionLabel{
      text-decoration: none;
      font-size: 12px;
      color: $linkTextColor;
      background-color: transparent;

      span{
        font-size: 12px;
      }

  }
  .sectionLabel a:hover {
    text-decoration: underline;
  }
  section {
    @include span-columns(9);
    height: 100%;
    float: right;
    display: block;
    padding-top: 7px;

    .imgCard {
      @include span-columns(3.5);
      @include omega(3n);
      height: 225px;
      background-color: $filterWht;
      margin-bottom: 15px;
      position: relative;
      border: solid 1px $sideBoxBorders;

      .card-info {
        width: 213px;
        height: 35px;
        margin: 0 6px 6px 6px;
        background: transparent;
      }

      .card-row {
        width: 212.98px;
        height: 16px;
        margin-bottom: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: transparent;

      }

      .item-link {
        text-decoration: none;
        color: $itemNameGrey;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .item-link:hover{
        text-decoration: underline;
      }

      .user-link {
        text-decoration: none;
        color: $userNameGrey;
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .item-price {
        color: $moneyGreen;
        font-size: 12px;
        right: 14px;
        display: inline-block;
        height: auto;
        width: auto;
        float: right;
        margin-right: 5px;
        background: transparent;
      }
      .user-link:hover {
        text-decoration: underline;
      }
    }

    .advertisement {
      width: 30px;
      height: 25px;
      border-radius: 6px;
      border: solid 1px $hoverBorder;
      opacity: 0.65;
      left: 4px;
      top: 4px;
      position: absolute;
      text-align: center;
      color: $labelFontColor;
      padding-top: 3px;
      font-size: 13px;
      font-family: Arial, sans-serif;
      }

    .imgCard:hover .card-icon {
      opacity: 1;
    }
    .item-image {
      width: 221px;
      height: 175px;
      margin: 0 0 0 0;
    }

    .hoverIcon1:hover {
      border: solid 1px $hoverBorder;
      opacity: 1;
    }

    .hoverIcon2:hover {
      border: solid 1px $hoverBorder;
      opacity: 1;
    }

    .hoverIcon1{
      position: absolute;
      top: 4px;
      right: 42px;
      width: 25px;
      height: 25px;
      background-color: $filterWht;
      border-radius: 3px;
      padding: 0;
      border: solid 1px $sideBoxBorders;
      opacity: 0;

      img {
        padding: 5px;
      }
    }

    .hoverIcon2 {
      position: absolute;
      top: 4px;
      margin: 0;
      right: 4px;
      width: 35px;
      height: 25px;
      background-color: $filterWht;
      border-radius: 3px;
      padding: 0;
      border: solid 1px $sideBoxBorders;
      color: $sideBoxBorders;
      opacity: 0;

      .hamburger {
        width: 20px;
        height: 20px;
        clear: both;
        float: left;
        background-color: $filterWht;

        img {
          width:20px;
          height:20px;
          margin-top: 1.5px;
          margin-bottom: 3.5px;
          float: left;
          padding: 2px;
          background-color: $filterWht;

          .hoverTriangle {
            display: inline-block;
            clear: both;
            color: $sideBoxBorders;
            background-color: transparent;
            line-height: 1em;
          }
        }
      }
  }
}}
// section {
//   @include outer-container();
//   .content{
//     @include span-columns(8);
//   }
//   .sidebar{
//     @include span-columns(4);
//   }
// }
